/* Full screen center */
.main {
    height: 100vh; /* full page height */
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    background-color: #f2f2f2;
}

/* Box styling */
.box {
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Input styling */
.input {
    width: 200px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.Enter{
    width: 80px;
    height: 35px;
    padding: 11px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* margin: 2px ; */
    color: White;
    margin-top: 8px;
    background-color: blue;

}